<!-- src/bookit/notifications/templates/reset_password.html -->
{% extends "base.html" %}

{% block content %}
    <h3>Password Reset</h3>
    <p>We received a request to reset the password for your <strong>BookIt</strong> account.</p>
    <p>Click the button below to choose a new password:</p>

    <div style="text-align: center; margin: 30px 0;">
        <a href="{{ base_url }}/reset-password?token={{ token }}" class="button">
            Reset Password
        </a>
    </div>

    <p><em>If you didn't make this request, you can safely ignore this email. The link will expire in 15 minutes.</em></p>
{% endblock %}
